# This is a ci cd pipeline

name: CI
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]  
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # lint:
  #   name: lint
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: checkout the code
  #       uses: actions/checkout@v6
  #     - name: checkout the code and install dependencies
  #       uses: ./.github/actions/setup-repo
  #       with:
  #         npm_command: 'lint'
  # build:
  #   name: build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: checkout the code
  #       uses: actions/checkout@v6
  #     - name: checkout the code and install dependencies
  #       uses: ./.github/actions/setup-repo
  #       with:
  #         npm_command: 'build'
  depoly:
    name: test aws
    runs-on: ubuntu-latest
    env:
      role: arn:aws:iam::996264442117:policy/CD_pipeline
      region: eu-north-1
    steps:
      - name: checkout the code
        uses: actions/checkout@v6
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{env.role}}
          aws-region: ${{env.region}}
      - name: Additional steps
        run: |
          # Your commands that require AWS credentials
          aws sts get-caller-identity 


  