# This is a ci cd pipeline

name: CI
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]  
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code and install dependencies
        uses: ./.github/actions/setup-repo
        with:
          npm_command: 'lint'
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code and install dependencies
        uses: ./.github/actions/setup-repo
        with:
          npm_command: 'build'
        
