# This is a ci cd pipeline

name: CI
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]  
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code
        uses: actions/checkout@v6
      - name: checkout the code and install dependencies
        uses: ./.github/actions/setup-repo
        with:
          npm_command: 'lint'
  build:
    name: build
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.upload-dist.outputs.artifact-id }}
    steps:
      - name: checkout the code
        uses: actions/checkout@v6
      - name: checkout the code and install dependencies
        uses: ./.github/actions/setup-repo
        with:
          npm_command: 'build'
      - name: upload dist folder as artifact
        uses: actions/upload-artifact@v6
        id: upload-dist
        with:
          name: dist
          path: dist/
          retention-days: 1
  depoly:
    needs: build
    name: test aws
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    env:
      role: arn:aws:iam::996264442117:role/CD_pipeline
      region: eu-north-1
      bucket: amzn-photo-001
      distribution: E21RN5P40ZAH8P
    steps:
      - name: download dist folder artifact
        uses: actions/download-artifact@v6
        with:
          artifact-ids: ${{ needs.build.outputs.artifact-id }}
      - name: list dist folder
        run: |
          ls 

      # - name: Configure AWS Credentials
      #   uses: aws-actions/configure-aws-credentials@v6
      #   with:
      #     role-to-assume: ${{env.role}}
      #     aws-region: ${{env.region}}
      # - name: sync s3 bucket with dist folder
      #   run: |
      #     aws s3 sync dist/ s3://${{env.bucket}} --delete
      # - name: invalidate cloudfront cache
      #   run: |
      #     aws cloudfront create-invalidation --distribution-id ${{env.distribution}} --paths "/*"


  